.advantages {
    min-height: 473px;
    padding: 70px 0 65px 0;
    background: #F6F6F6;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 277px;
        img {
            display: block;
            margin: 0 auto;
        }
        &_animate-heart {
            animation-name: heart;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
        &_animate-shoe:hover {
            animation-name: shoe;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
        &_animate-cup:hover {
            animation-name: cup;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
    }
    &__subtitle {
        margin-top: 30px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        color: #0D0D0D;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
    }
    &__text {
        margin-top: 20px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        text-align: center;
        a {
            color: #FF0000;
        }
        
    }
}